:root{
    --primary-color: hsl(193, 38%, 86%);
    --secondary-color: hsl(150, 100%, 66%);

    --tertiary-color: hsl(217, 19%, 38%);
    --fouthary-color: hsl(217, 19%, 24%);
    --fifthary-color: hsl(218, 23%, 16%);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}